*.class
/build/
/bin/
.*
!.gitignore
.metadata/.log

.metadata/.log

.metadata/.plugins/org.eclipse.a.wst.html.webresources.ui/wtp-webresources-images/0.png

.metadata/.plugins/org.eclipse.a.wst.html.webresources.ui/wtp-webresources-images/0.png

.metadata/.plugins/org.eclipse.a.wst.html.webresources.ui/wtp-webresources-images/0.png

.metadata/.plugins/org.eclipse.a.wst.html.webresources.ui/wtp-webresources-images/0.png

.metadata/.plugins/org.eclipse.cdt.core/.log

.metadata/.plugins/org.eclipse.a.wst.html.webresources.ui/wtp-webresources-images/0.png

.metadata/.plugins/org.eclipse.core.resources/.history/e0/e0823be05e1700161d86e4fda92ed3a8

.metadata/.plugins/org.eclipse.a.wst.html.webresources.ui/wtp-webresources-images/0.png

.metadata/.plugins/org.eclipse.core.resources/.history/6e/81c36167581700161d86e4fda92ed3a8

.metadata/.plugins/org.eclipse.a.wst.html.webresources.ui/wtp-webresources-images/0.png

.metadata/.plugins/org.eclipse.cdt.core/.log

.metadata/.plugins/org.eclipse.core.resources/.history/22/729c6167581700161d86e4fda92ed3a8

.metadata/.plugins/org.eclipse.cdt.core/.log

.metadata/.plugins/org.eclipse.core.resources/.history/22/729c6167581700161d86e4fda92ed3a8

.metadata/.plugins/org.eclipse.core.resources/.history/22/729c6167581700161d86e4fda92ed3a8

.metadata/.plugins/org.eclipse.core.resources/.history/3/e03c6067581700161d86e4fda92ed3a8

.metadata/.plugins/org.eclipse.core.resources/.history/5c/80c36167581700161d86e4fda92ed3a8

Servers/Tomcat v8.0 Server at localhost (2)-config/server.xml
